/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* type  */
header{
    height: 40px;
    background-color: black;
}

main{
    background-color: black;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
}

footer{
    background-color: #222;
    height: 70px;
}

/* header  */
header div{
    display: flex;
    justify-content: flex-end;
}
header div span{
    background-color: grey;
    margin-right: 5px;
}

/* main  */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: calc(100vh -100px);
    overflow:auto;
}

.container div{
    width: 200px ;
    height: 150px ;
    margin: 5px 5px 5px 5px;
    background-image: url(../img/montagna-a-settembre.jpeg);
    background-size: 100% 100%;
}

/* footer  */

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
